<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Alexander <gasfull98@gmail.com> Chapchuk
  ~ Project name: PinNote
  ~
  ~ Licensed under the MIT License. See LICENSE file in the project root for license information.
  -->

<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yyyy} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Root Logger -->
        <Root level="all">
            <AppenderRef ref="Console" level="INFO"/>
        </Root>
    </Loggers>


</Configuration>